### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#Note field header
#Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
pymoli_purchase_data = "/users/brant/Documents/DABC/pandas-resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_file = pd.read_csv(pymoli_purchase_data)
purchase_data_file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [28]:
uniplayercount = purchase_data_file.SN.nunique()
uniplayerdf = pd.DataFrame({"Unique Player Count":[uniplayercount]})
# print player count with narrative.
print("")
print(str(uniplayercount) + ' Players made an in-game purchase.')
print("")
uniplayerdf.style.hide_index()

576 Players made an in-game purchase.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# create data for unique items, average sale price, totals sales, etc. 
countunique = purchase_data_file['Item ID'].nunique()
avgprice = '${:.2f}'.format(purchase_data_file['Price'].mean())
countpurchases = purchase_data_file['Purchase ID'].count()
totalsales = '${:,.2f}'.format(purchase_data_file['Price'].sum())

# print narrative of the data
print("")
print(str(countunique) + " unique items were sold in a total of " + str(countpurchases) + " transactions.")
print("")
print("Sales totalled " + str(totalsales) + " with an Average Sale Price of " + str(avgprice))
print("")

# Create summary dataframe to display data
purchasestats = pd.DataFrame({"Count of Unique Items":[countunique], "Count Purchases":[countpurchases],
                              "Avg Purchase Price":[avgprice], "Total Sales":[totalsales]},index=['Stats'])

# Transpose DataFame for improved display
purchasestats_t = purchasestats.transpose()

# Display the summary data
purchasestats_t

183 unique items were sold in a total of 780 transactions.

Sales totalled $2,379.77 with an Average Sale Price of $3.05

                           Stats
Count of Unique Items        183
Count Purchases              780
Avg Purchase Price         $3.05
Total Sales            $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#group data by gender and count unique SN
gender_data = purchase_data_file.groupby('Gender')['SN'].nunique()

otherperc = '{:.2f}%'.format((gender_data.iloc[2]/uniplayercount)*100)
femaleperc = '{:.2f}%'.format((gender_data.iloc[0]/uniplayercount)*100)
maleperc = '{:.2f}%'.format((gender_data.iloc[1]/uniplayercount)*100)

# narrative of gender demographics
print("")
print("The majority of players are Male, " + str(maleperc) + " with a smaller number of Female players, " + 
      str(femaleperc) + ".")
print("")
# Create summary DataFrame
gender_summary = pd.DataFrame([
    {"Gender":"Other/ND","Count": gender_data.iloc[2],"Percent": otherperc}, 
    {"Gender":"Female","Count": gender_data.iloc[0],"Percent": femaleperc},
    {"Gender":"Male","Count": gender_data.iloc[1],"Percent": maleperc},
    ]).set_index('Gender').reset_index()
# gender_summary.set_index('Gender').reset_index()
gender_summary.sort_values("Count", ascending=False).style.hide_index()

The majority of players are Male, 84.03% with a smaller number of Female players, 14.06%.


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Create DataFrame for purchase count by gender
genpurchasecount = purchase_data_file.groupby('Gender')['Price'].count().reset_index(name='Count')


# Create DataFrame for average price by gender 
genavgprice = purchase_data_file.groupby('Gender')['Price'].mean().reset_index(name='Avg Price')


# Create DataFrame for total purchase by gender
gentotalpurch = purchase_data_file.groupby('Gender')['Price'].sum().reset_index(name= 'Total Purchase')


# Create DataFrame for total purchase by person average by gender
gentotalpurchavgperperson = purchase_data_file.groupby('Gender')['Price'].sum()/purchase_data_file.groupby('Gender')['SN'].nunique()

# add default index
gentotalpurchavgperperson = gentotalpurchavgperperson.reset_index()
gentotalpurchavgperperson.columns = ['Gender', 'Avg Total Purchase Per Person']


# merge dataframes to prepare summary dataframe
genderstats = pd.merge(genpurchasecount, gentotalpurch, on='Gender')
genderstats = pd.merge(genderstats, genavgprice, on='Gender')
genderstats = pd.merge(genderstats, gentotalpurchavgperperson, on='Gender')


# prepare data for display - update column names, apply create format dictionary
genderstats.columns = ['Gender','Purchase Count', 'Total Purchase Value', 'Average Purchase Price', 'Avg Total Purchase per Person'] 

formatstyle = {'Average Purchase Price': '${:,.2f}','Total Purchase Value': '${:,.2f}','Avg Total Purchase per Person': '${:,.2f}'}


# display stats
genderstats.sort_values("Purchase Count", ascending=False).style.format(formatstyle).hide_index()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
# Create the bins for age data   
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
binlables = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# dedupe purchase_data_file to ensure we are evaluating a list of unique players
# uniqueplayerfile = purchase_data_file.drop_duplicates(['SN'], keep='last')
# print(uniqueplayerfile)

purchase_data_file["Age Groups"] = pd.cut(purchase_data_file["Age"], bins, labels=binlables)
purchase_data_file.head()
# purchase_data_file.tail()

agecounts = purchase_data_file.groupby('Age Groups')['Age'].nunique().reset_index(name='Total Count')
agepercents = agecounts.div('uniplayercount')

TypeError: Series cannot perform the operation /

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame